<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{component/config :: config}"></th:block>
</head>
<body>
<div th:replace="~{component/header :: header}"></div>
<div th:replace="~{component/nav :: nav}"></div>
<div class="container">
    <table class="table">
        <tr>
            <th>Id</th>
            <th>이메일</th>
            <th>이름</th>
            <th>생년월일</th>
            <th>전화번호</th>
            <th>조회</th>
            <th>삭제</th>
        </tr>
        <tr th:each="member: ${memberList}">
            <td th:text="${member.id}"></td>
            <td>
                <a th:href="@{|/member/${member.id}|}" th:text="${member.memberEmail}"></a>
            </td>
            <td th:text="${member.memberName}"></td>
            <td th:text="${member.memberBirth}"></td>
            <td th:text="${member.memberMobile}"></td>
            <td>
                <button class="btn btn-secondary" th:onclick="detail_fn([[${member.id}]])">조회</button>
            </td>
            <td>
                <button class="btn btn-danger" th:onclick="delete_fn([[${member.id}]])">삭제</button>
            </td>
        </tr>
    </table>
    <div id="detail-area"></div>
</div>
<div th:replace="~{component/footer :: footer}"></div>
</body>
<script th:inline="javascript">
    const detail_fn = (id) => {
        const detailArea = document.querySelector("#detail-area");
        axios({
            method:"get",
            url:`/member/axios/${id}`,
        }).then(res => {
            let result = "<div class='card p-3'>";
            result += `<p>id: ${res.data.id}</p>`;
            result += `<p>이메일: ${res.data.memberEmail}</p>`;
            result += `<p>이름: ${res.data.memberName}</p>`;
            result += `<p>전화번호: ${res.data.memberMobile}</p>`;
            result += `<p>생년월일: ${res.data.memberBirth}</p>`;
            result += "</div>";
            detailArea.innerHTML = result;
        }).catch(err => {
            console.log("err", err);
        });
    }
    const delete_fn = (id) => {
        // location.href = `/member/delete/${id}`;
        axios({
            method: "delete",
            url: `/member/${id}`
        }).then(res => {
            alert("삭제 성공");
            location.href = "/member";
        }). catch(err => {
            alert("삭제 실패")
        })
    }
</script>
</html>