<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
<form action="/member/save" method="post">
    <input type="text" name="memberEmail" placeholder="이메일"> <br>
    <input type="password" name="memberPassword" placeholder="비밀번호"> <br>
    <input type="text" name="memberName" placeholder="이름"> <br>
    <input type="date" name="memberBirth"> <br>
    <input type="text" name="memberMobile" placeholder="전화번호"> <br>
    <button>회원가입</button>
    <button type="button" onclick="cancel_fn()">취소</button>
</form>
</body>
<script>
    const cancel_fn = () => {
        location.href = "/";
    }
</script>
</html>